p { margin-bottom: 0.1in; line-height: 115%; background: transparent }
a:link { color: #000080; so-language: zxx; text-decoration: underline }
a:visited { color: #800000; so-language: zxx; text-decoration: underline }

body {
    margin: 10;
    padding: 10;
    background-color: #FAFAFA;
    font: 10pt "Kinnari";
}

p.mainheader {
  font: bold 12pt/30pt Kinnari;
  text-align: center;
}

p.subheader {
  font: bold 11pt/30pt Kinnari;
  font-style: oblique;
}

p.ptinfo {
    font: 10pt/30pt Kinnari;
    line-height: 150%;
    margin-bottom: 0in;
}

p.klpresent {
    font: 10pt/30pt Kinnari;
    line-height: 150%;
    margin-bottom: 0in;
}

p.signplace {
    font: 10pt Kinnari;
    margin-bottom: 0in;
    line-height: 100%;
    text-align: right;
}

p.comment {
    font: 8pt/30pt Kinnari;
    line-height: 125%;
    margin-bottom: 0in;
    font-style: normal;
}

p.reminder {
    font: 8pt/30pt Kinnari;
    line-height: 125%;
    margin-bottom: 0in;
    font-style: italic;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

div.ptavatar {
    float: right;
	right: 30px;
	top: 30px;
	position: fixed;
    width: 140x;
    height: 140px;
}

ol.num {
    font: 10pt/30pt Kinnari;
    line-height: 100%;
}
