p { margin-bottom: 0.1in; line-height: 115%; background: transparent }
a:link { color: #000080; so-language: zxx; text-decoration: underline }
a:visited { color: #800000; so-language: zxx; text-decoration: underline }

body {
    margin: 10;
    padding: 10;
    background-color: #FAFAFA;
    font: 10pt "Kinnari";
}

p.mainheader {
  font: bold 12pt/30pt Kinnari;
  text-align: center;
}

p.subheader {
  font: bold 11pt/30pt Kinnari;
  font-style: oblique;
}

p.ptinfo {
    font: 10pt/30pt Kinnari;
    line-height: 150%;
    margin-bottom: 0in;
}

p.klpresent {
    font: 10pt/30pt Kinnari;
    line-height: 150%;
    margin-bottom: 0in;
}

p.signplace {
    font: 10pt Kinnari;
    margin-bottom: 0in;
    line-height: 100%;
    text-align: right;
}

p.comment {
    font: 8pt/30pt Kinnari;
    line-height: 125%;
    margin-bottom: 0in;
    font-style: normal;
}

p.reminder {
    font: 8pt/30pt Kinnari;
    line-height: 125%;
    margin-bottom: 0in;
    font-style: italic;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 1cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
    padding: 0mm;
    border: 5px #FFFFFF solid;
    height: 276mm;
    outline: 10mm #FFFFFF solid;
}

@page { 
    size: 8.27in 11.69in;
    margin: 0in;
}

@media print {
    * { overflow: visible !important; }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
    .subpage {
        padding: 0mm;
        border: 5px #FFFFFF solid;
        height: 276mm;
        outline: 10mm #FFFFFF solid;
    }  
}

div.ptavatar {
    float: right;
	right: 30px;
	top: 30px;
	position: fixed;
    width: 140x;
    height: 140px;
}

ol.num {
    font: 10pt/30pt Kinnari;
    line-height: 100%;
}

