.TFtable{
	border-collapse:collapse; 
/*	font: normal 12px arial,verdana;*/
/*	padding: 2px;
	margin: 2px;*/
	opacity: 0.97;
	background: transparent;
}
.TFtable td{ 
/*	padding:7px;*/
	border:#4e95f4 5px solid;
    text-align: left; word-wrap: break-word;
}
.TFtable th{ 
/*	padding:7px;*/
	border:#4e95f4 5px solid; word-wrap: break-word;
}
/* provide some minimal visual accomodation for IE8 and below */
.TFtable tr{
	background: #E0E0F8;
}
/*  Define the background color for all the ODD background rows  */
.TFtable tr:nth-child(odd){ 
	background: #E0E0F8;
	opacity: 0.90;
/*	background: transparent;*/
}
/*  Define the background color for all the EVEN background rows  */
.TFtable tr:nth-child(even){
	background: #F5F6CE;
	opacity: 0.90;
}
