@page {  }

table { border-collapse:collapse; border-spacing:0; empty-cells:show }

td, th { vertical-align:top; font-size:12pt;}
	
h1, h2, h3, h4, h5, h6 { clear:both }
	
ol, ul { margin:0; padding:0;}
	
li { list-style: none; margin:0; padding:0;}
	
<!-- "li span.odfLiEnd" - IE 7 issue-->
	
li span. { clear: both; line-height:0; width:0; height:0; margin:0; padding:0; }
	
span.footnodeNumber { padding-right:1em; }
	
span.annotation_style_by_filter { font-size:95%; font-family:Arial; background-color:#fff000;  margin:0; border:0; padding:0;  }
	
* { margin:0;}
	
.P1 { font-size:8pt; font-family:Garuda; writing-mode:page; }
	
.P2 { font-size:8pt; font-family:Garuda; writing-mode:page; }
	
.P3 { font-size:8pt; font-family:Garuda; writing-mode:page; text-align:right ! important; }
	
.P4 { font-size:8pt; font-family:Garuda; writing-mode:page; text-decoration:underline; }

.P5 { font-size:8pt; font-family:Garuda; writing-mode:page; text-align:center ! important; }
	
.T1 { text-decoration:underline; }
	
.T2 { text-decoration:none ! important; }
	
.T3 { text-decoration:none ! important; }
	
.T4 { text-decoration:none ! important; }
	
<!-- ODF styles with no properties representable as CSS -->
	
.T5  { }
